NEXT_PUBLIC_API_URL=http://localhost:8000
NEXT_PUBLIC_MODEL_URL=http://localhost:5000
NEXT_PUBLIC_SITE_URL=http://localhost:3000

STRIPE_PUBLISHABLE_KEY=pk_test_51ThwDoHKQtrRJH8Ka5JvdsCdBfMVG5n4YvatxeiYLkrdaEaFHWtQPaG3jHt9nCWbwlpHAErdjZnKqwDfG4P00ZaD00VHjYEt9K
STRIPE_SECRET_KEY=sk_test_your_secret_key_here
STRIPE_PRICE_PRO_MONTHLY=prod_UhL6mGBkO9ZMmi
STRIPE_PRICE_PRO_YEARLY=prod_UhL9ADmtlu3hsN
STRIPE_PRICE_ENTERPRISE_MONTHLY=prod_UhLAQMVHspRYt1
STRIPE_PRICE_ENTERPRISE_YEARLY=prod_UhLBurtk7212ds